[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "*"
django = "*"
django-dramatiq = "*"
dramatiq = {extras = ["watch", "redis"]}
gunicorn = "*"
redis = "*"
"psycopg2" = "*"
whitenoise = "*"


[dev-packages]

