[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-dramatiq = "*"
dramatiq = {extras = ["watch", "redis"]}
dj-database-url = "*"


[dev-packages]

